@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Century Gothic';
  src: url('/fonts/CenturyGothic.woff2') format('woff2');
}

@layer base {
  :root {
    --primary: #4D6055;
    --secondary: #669B90;
    --accent: #B47B77;
    --background: #F0CFC3;
  }

  body {
    @apply bg-background text-primary;
    font-family: 'Roboto', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Century Gothic', sans-serif;
  }
}

.title-font {
  font-family: 'Century Gothic', sans-serif;
}

.body-font {
  font-family: 'Roboto', sans-serif;
}